html{
  scroll-behavior: smooth;
}
body{
    background-color: #1a202c;
    font-family: 'MuseoModerno', cursive;
}
.headerNav{
  overflow: hidden;
  background-color: #1a202c;
  position: fixed;
  width: 100%;
  z-index: 1030;
  
}
.mr-5{
    color: #fff;
}
.logo{
    width: 10%;
}
.mainImageDiv{
    width: 100%;
    position: relative;
    padding-top: 5.2%;
    
}
.mainImage{
    /* filter: blur(0.1rem); */
    opacity: 0.3;
    
    
}
.mainImageText {    
    background-color: rgba(0,0,0, 0.4); 
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    padding: 40px;
    text-align: center;
    border: 0.2px solid #4CAF50;
    /* border-bottom-left-radius: 25px;
    border-top-right-radius: 25px; */
  }
  .userInfo{
    width: 100%;
    color: #fff;    
    text-align: center;
    padding-top: 10px;
  }
  .sign-button{
    width: 30%;
    border: 2px solid #4CAF50;
    border-radius: 9px; 
    padding: 4px;    
  }
  .sign-button:hover{
    border: 2px solid #c5c9c5;
    color: #4CAF50;
    /* background-color: rgb(0, 76, 121); */
    /* background: rgb(0,26,36);
    background: linear-gradient(90deg, rgba(0,26,36,1) 0%, rgba(6,57,66,1) 25%, rgba(9,121,73,1) 46%, rgba(7,146,124,1) 73%, rgba(0,212,255,1) 100%); */
  }
  .loginText{
    color: #fff;
    text-align: center;
    margin-top: 10%;    
  } 
  



  @media (max-width: 1500px){
    body{
      font-size: 30px;
    }
    .mainImage{
      height: 550px;
    }
    .loginCon{
      margin-top: -5%;
      margin-left: -5%;
      margin-bottom: -5%;
    }
    .footerCat{
      font-size: 20px;
      padding-right: 10%;
    }
    
  }
  @media (max-width: 900px){
    body{
      font-size: 16px;      
    }
    .mainImageText {    
      width: 60%;
    }
    .mainImage{
      height: 400px;
    }
    .logo{
      margin-left: 20%;
    }
    .loginText{
      font-size: 25px;
    }
    .loginCon{
      margin: 0%; 
    }
    
  }
  @media (max-width: 600px){
    body{
      font-size: 16px;      
    }
    .mainImageText {    
      width: 60%;
      padding: 5px;
    }
    .mainImage{
      height: 300px;
    }
    .logo{
      margin-left: 20%;
    }
    .loginCon{
      margin: 0;
      margin-top: -5%;
    }
    

  }


    
  